.btn-primary {
  background: linear-gradient(to right, #00F2FE, #4FACFE);
  color: #0a142f;
  padding: 12px 28px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
